@model IEnumerable<ProductModel>

<div class="py-5">
    <div class="container">

       <div class="text-center mb-5">
           <a class="btn btn-success" asp-action="Create" asp-controller="Product">Cadastrar novo produto</a>
       </div>

        <div class="row row-cols-1 row-cols-sm-2  row-cols-md-3 g-0">

            @if (Model != null)
            {
                @if (Model.Count() > 0)
                {
                    @foreach (var product in Model)
                    {

                        <div class="card mx-3 my-3 p-2" style="width: 12rem">

                            @if(product.ImageUrl != null)
                            {
                                <img src="/imagem/@product.ImageUrl" class="card-img-top" style="width: 175px; height: 150px" />
                            }
                            else
                            {
                                <img src="/imagem/emptyImage.png" class="card-img-top" />
                            }


                            <div class="card-body">
                                <h5 class="card-title">@product.Title</h5>
                            </div>

                            <div class="card-body">
                                <a class="btn btn-warning w-100 mb-2" asp-action="Update" asp-controller="Product" asp-route-id="@product.Id">Editar</a>
                                <a class="btn btn-danger w-100" asp-action="RemoveProduct" asp-controller="Product" asp-route-id="@product.Id">Remover</a>
                            </div>


                        </div>

                        
                    }
                }

            }


       </div>

    </div>
</div>
