<div>
    <h1>
        Produto removido do carrinho com sucesso
    </h1>
    <div class="btn-box d-flex mt-3">
        <a type="submit" class="btn btn-info w-50" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-left-circle"></i> Voltar</a>
    </div>
</div>
