@model UserModel

@{
    Layout = "_LoggedOutLayout";
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">
        Novo Usuário
    </h1>
</div>

<form asp-controller="User" asp-action="CreateUser" method="post">
    <div class="mb-3">
        <label for="Name" class="form-label">Nome</label>
        <input type="text" asp-for="Name" class="form-control" id="Name">
        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label" >Email</label>
        <input type="email" asp-for="Email" class="form-control" id="Email">
        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" asp-for="Password" class="form-control" id="Password">
        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label" >Endereço</label>
        <input type="text" asp-for="Address" class="form-control" id="Address">
    </div>
    <div class="mb-3">
        <label for="Phone" class="form-label" >Telefone</label>
        <input type="tel" asp-for="Phone" class="form-control" id="Phone">
    </div>
    <select class="form-select" asp-for="Role">
        <option value="seller">Vendedor</option>
        <option value="buyer">Comprador</option>
    </select>
    <button type="submit" class="btn btn-primary mt-3">Criar</button>
    <button class="btn btn-secondary mt-3" asp-controller="Login" asp-action="Index">Cancelar</button>
</form>
